@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: #393939;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  transform: translateX(50%);
  
}

h1 {
  margin: 10px;
  color: white;
}
img {

  object-fit: cover;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
}





.box {
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(1000%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even){
  transform: translateX(-1000%);
}

.box.show {
  transform: translateX(0);
}


.box h2 {
  font-size: 42px;
}
